@model ShopCartViewModel

<div class="container">
    @foreach (var el in Model.ShopCart.ListShopItems) {
        <div class="alert alert-warning mt-3">
            <b>Model: </b> @el.Tire.Model <br />
            <b>Brand: </b> @el.Tire.Brand <br />
            <b>Price: </b> @el.Tire.Price.ToString("c")
            <form asp-controller="ShopCart" asp-action="RemoveFromCart" method="post">
                <input type="hidden" name="id" value="@el.Tire.Id" />
                <button type="submit">Remove</button>
            </form>
        </div>
    }
    <hr />
    <a class="btn btn-danger" asp-controller="Order" asp-action="Checkout">Pay</a>
</div>
